/* Global Styles */
body {
  font-family: "Acumin Variable Concept", sans-serif;
  src: url('/assets/fonts/Acumin\ Variable\ Concept.ttf') format('truetype'); /* Update with the actual path */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #9b907e; /* Light Brown/Beige */
  color: #333; /* Default text color */
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #252121; /* Dark background */
  color: #fff; /* White text */
  position: relative;
}

header .logo img {
  height: 50px;
}

header nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

header nav.active {
    display: flex;
}

header .menu-toggle {
  display: none; /* Hide the menu toggle button in full-screen view */
}

/* Hero Section */
#hero {
  position: relative;
  height: 100vh;
  background-color: #9c917f; /* Soft Brown */
}

#hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 20px; /* Add some padding for spacing */
  text-align: left; /* Align the text to the right */
  color: #fff;
}
.cta-button {
  background-color: #9c917f;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}
#hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
}

#hero h2 {
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#hero p {
  font-size: 1.2rem;
}

/* About Section */
#about {
  padding: 60px 20px;
  text-align: center;
  position: relative;
  background-color: #9d9280; /* Warm Beige */
}

#about h2 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #292929;
}

#about p {
  font-size: 18px;
  max-width: 800px;
  margin: 0 auto;
  color: #292929;
}

.learn-more-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #725c3a; /* Muted Brown */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 0 10px #9c917f; /* Soft Brown Shadow */
  transition: background-color 0.3s, transform 0.3s;
}

.learn-more-btn:hover {
  background-color: #311f01; /* Darker Brown */
  transform: scale(1.05);
}

/* Blogs Section */
#blogs {
  padding: 50px 20px;
  background-color: #fff; /* White background */
}

#blogs h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.blog-tiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog-tile {
  background-color: #998e7c; /* Light Taupe */
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
}

.blog-tile img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-tile h3 {
  padding: 10px;
  background-color: #fff;
}

/* Projects Section */
#projects {
  padding: 50px 20px;
  background-color: #f7f7f7; /* Very light gray background */
}

#projects h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.project-tiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-tile {
  background-color: #988d7b; /* Muted Brown */
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  margin-bottom: 20px;
  text-align: center;
}

.project-tile img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.project-tile h3 {
  padding: 10px;
  background-color: #fff;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Mobile View */
@media (max-width: 768px) {
  /* Mobile View */
  @media (max-width: 768px) {
    header {
      flex-direction: row; /* Change to row to align items side by side */
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }

    header .logo img {
      margin-bottom: 0; /* Remove the bottom margin */
      height: 40px; /* Adjust height if necessary */
    }

    header .menu-toggle {
      display: block; /* Ensure the menu toggle button is visible */
      font-size: 24px;
      cursor: pointer;
      color: #fff;
      background-color: #333; /* Update this to match your desired color palette */
      padding: 10px;
      border-radius: 5px;
    }

    header nav {
      display: none; /* Hide the navigation by default */
      flex-direction: column;
      gap: 10px;
      background-color: #1b0e28; /* Optional: Add a background color for the nav */
      padding: 10px;
      border-radius: 5px;
      position: absolute;
      top: 60px;
      right: 20px;
      z-index: 1000;
    }

    header nav.active {
        display: flex;
    }

    header .menu-toggle.active + nav {
      display: flex; /* Show the navigation when the menu is active */
    }
    .hero {
      padding: 60px 20px;
    }

    .hero h1 {
      font-size: 36px;
    }

    .hero p {
      font-size: 18px;
    }

    .hubs-overview {
      grid-template-columns: 1fr;
    }

    footer .footer-content {
      flex-direction: column;
      text-align: center;
    }

    footer .quick-links a {
      margin: 0 10px;
    }
  }
}
